/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
  ========================================
  Custom styles
  ========================================
*/

body {
	font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-left: 30px;
	font-size: 16px;
}

h1 {
  font-size: 144px;
  font-weight: 300;
  /*line-height: 44px;*/
  margin-top: 20px;
  padding: 60px 0px;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  line-height: 44px;
  margin-top: 40px;
}

input {
	margin: 10px 0px;
}

ol {
	list-style: upper-roman;
  	padding: 10px 0px 10px 0px;
}

li {
	line-height: 24px;
}

.center {
	text-align: center;
}

/** {
	border: solid red 1px !important;
}*/




/* 
	==================================
	Layout
	==================================
*/

.container {
	margin: 0 auto;
	width: 960px;
	padding: 0;
}


/*
  ========================================
  Table
  ========================================
*/

table {
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}

td {
	/*border: 1px solid #c6c7cc;*/
	padding: 10px 50px;
	text-align: center;

}

td p {
	font-size: 72px;
	padding: 30px;
	font-weight: 600;
}


